/* styles.css */
:root {
  /* CSS HEX */
--watermelon: #ed254eff;
--royal-gold: #f9dc5cff;
--tea-green: #c2eabdff;
--prussian-blue: #011936ff;
--charcoal-blue: #465362ff;
}

html, body {
height: 100%;
  background-color: var(--prussian-blue);  
}
h1, h2, h3, h4, p {
  color: var(--royal-gold);
}
